.vContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vCenter{
    margin-top: 10%;
}

.hContainer{
    display: flex;
    column-gap: 100px;
    justify-content: space-between;
}

.hMainContainer{
    display: flex;
    flex-direction: row;
}

.imgContainer{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: .5em;
    grid-column-gap: 1em;
}

.recordingContainer{
    margin-left: 145px;
}

.apikeyContainer{
    border: 3px solid darkslategray;
    border-radius: 10px;
    margin-left: 15px;
    padding: 10px 20px;
}

.text{
    color: darkslategrey;
    font-family:'Century Gothic', Times, serif
}

.title{
    font-size: 125px;
}

.subTitle{
    font-size: 50px;
}

.header{
    font-size: xx-large;
    margin-right: 10px;
}

.landing{
    margin-top: 30px  
}

.button{
    font-size: x-large;
    padding: 20px 40px;
    border: 3px solid darkgray;
    border-radius: 10px;
    color: darkslategrey;
}

button:hover{
    cursor: pointer;
}

.navButton{
    font-size: medium;
    padding: 10px 20px;
    border: 3px solid darkgray;
    border-radius: 10px;
    color: darkslategrey;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 15px;
}


.authNav{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.homeNav{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    align-items: center;    
}

.formText{
    font-size: large;
    margin-top: 15px;
}

.formInput{
    background-color: #c5bebe;
    border: 3px solid black;
    padding: 7px 10px;
    color: #fffceb;
}

.bold{
    font-weight: bolder;
    font-size: x-large;
}
